# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


*.tar.gz
File/


*.cnf

Sat*
*TEST
.bash_history
*.txt
TP1/strace_out

*.bin
*.img
*.qcow2
*.vmdk
TP2/Image/packedKernel.bin
TP2/Image/x64BareBonesImage.img
TP2/Image/x64BareBonesImage.qcow2
TP2/Kernel/kernel.bin
TP2/Image/x64BareBonesImage.vmdk
TP2/Toolchain/ModulePacker/mp.bin
TP2/Userland/0000-sampleCodeModule.bin
